@keyframes hr_width {
  0% {
    width: 30%;
    height: 0.1px;
    opacity: 0.8;
  }
  50% {
    width: 95%;
    height: 1px;
    opacity: 1;
  }
  100% {
    width: 30%;
    height: 0.1px;
    opacity: 0.8;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
