/* ≃# Importaçoes */

@import url("http://fonts.cdnfonts.com/css/futura-lt");
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

@import url(./reset.css);
@import url(./keyframes.css);

/* ≃# Design */

/* ≃≃# Designs gerais */
/* ≃+  Estilização de vários arquivos de uma vez*/
body {
  font-family: "Benne", cursive;
  color: #333333;
}

/* @ */
hr {
  background-color: #fb1283;
  height: 1px;
  margin: 0 auto 80px auto;
  animation: hr_width ease-in-out 5s infinite;
}

/* ≃+------------------------------------- */
/* ≃≃# Navegadora Lateral */
.nav_lateral {
  position: fixed;
  top: calc(50vh - 90px);
  right: 3px;
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 180px;
  opacity: 0.2;
}

/* ≃*Nav lateral em hover */
.nav_lateral:hover {
  opacity: 1;
}

.nav_lateral a {
  margin: 3px auto;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-bottom: black solid 5px;
  border-top: black solid 5px;
  animation: rotate 6s ease-in-out infinite;
}
/* ≃≃≃# Círculos da nav lateral: */
.pink {
  border-right: #f36a71 solid 5px;
  border-left: solid 5px #f36a71;
}
.white {
  border-right: yellow solid 5px;
  border-left: solid 5px yellow;
}
.green {
  border-right: #00a78e solid 5px;
  border-left: solid 5px #00a78e;
}
.gray {
  border-right: #787c7e solid 5px;
  border-left: solid 5px #787c7e;
}
.blue {
  border-right: #374676 solid 5px;
  border-left: solid 5px #374676;
}
.blueviolet {
  border-right: #455ee1 solid 5px;
  border-left: solid 5px #455ee1;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/* ≃≃≃# Section e a Main */
.section_intro {
  width: 100%;
  padding: 6%;
}

/* ≃≃≃# BARRA DE NAVEGÇAO SUPERIOR */
.nav_superior {
  display: flex;
  height: 3em;
  width: 100%;
  justify-content: start;
  align-items: center;
  background-color: #333333;
  position: sticky;
  top: 0;
  z-index: 1;
}

span {
  padding: 0 1ch;
  font-size: 0.8em;
  font-family: "Futura LT", sans-serif;
  display: inline-block;
  color: white;
}

/* ≃≃# SECTION INTRO: Textos de introducao no comeco  */
.section_intro {
  text-align: justify;
}

.section_intro p {
  margin-bottom: 0.5rem;
}

.section_intro ul {
  margin: 42px 0;
}

.section_intro li {
  display: inline-block;
  padding: 0.4em;
  color: #000000;
}

/* ≃≃# Main: projetos */
main {
  width: 100%;
}

.article_projetos {
  padding-bottom: 5em;
}

/* ≃≃≃#Article projetos por COR , definindo BORDAS*/
#pink {
  border-left: solid 4.3px #f36a71;
}
#green {
  border-left: solid 4.3px #00a78e;
}
#white {
  border-left: solid 4.3px yellow;
}
#blue {
  border-left: solid 4.3px #374676;
}
#gray {
  border-left: solid 4.3px #787c7e;
}
#blueviolet {
  border-left: solid 4.3px #455ee1;
}

/* ≃≃≃# Título */
main h2 {
  text-align: Center;
  font-size: 2em;
  font-family: "Futura LT";
  color: #e93f91;
  margin: 0.2em 0 1.2em 0;
}

/* ≃≃≃# Figura dos articles/img projetos */
.fgr_projeto {
  text-align: center;
  /* padding: 1em; */
  background-image: url(../img/backgroundproj.jpg);
  padding: 1.3em;
}

.img_projeto {
  transform: rotateZ(-8deg);
  width: 70vmin;
  border-radius: 2.7px;
}

/* ≃≃≃# Descrição dos proejetos */
/* ≃+ Vários : todos os parágrafos dos artcles */

.article_projetos > p {
  width: 100%;
  margin-top: 0.6em;
  padding: 6%;
}
